    /* Estilos generales */
    body {
        margin: 0;
        padding: 0;
        background-color: #dbeaff;
        /* Fondo celeste claro */
        font-family: Arial, sans-serif;
        color: rgb(12, 11, 11);
        /* Color blanco para el texto */
    }

    a {
        text-decoration: none;
    }

    /* Estilos para el header */
    .header-inicio {
        background-color: #0d1722;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Centrar verticalmente */
        height: 60px;

    }

    .header-inicio img {
        height: 60px;
        /* Ajusta el tamaño del logo */
        width: auto;
    }

    .mi_cuenta {
        margin-left: 10px;
        width: 400px;
        color: rgb(12, 11, 11);
    }

    .mi_cuenta h1 {
        font-size: 40px;
    }

    .mi_cuenta h3 {
        font-size: 20px;

    }

    .cerrar_sesion {
        text-decoration: none;
        color: #0f1b36;
    }